<div class="row" id="control-btns">

{% if data.possible_depths %}
<div class="col-md-8 col-xs-8">
<form action="/t3pkonfigurator" method="post" name="additional_probe" id="additional_probe">
  <div class="form-group">
    <label class="col-md-4 col-xs-4" for="add_probe">Weiterer Messpunkt:</label>
    <select class="col-md-4 col-xs-4" name="add_probe" id="add_probe">
      {% for x in data.possible_depths %}
        <option value="{{ x }}">{{ x }}cm</option>
      {% end %}
    </select>
  </div>
  <input type="hidden" value="{{ data.depths }}" name="depths" id="depths">
  <div class="col-md-4 col-xs-4">
    <button class="btn btn-primary" id="add-btn">Hinzufügen</button>
  </div>
</form>
</div>
{% end %}

{% if data.depths %}
<div class="col-md-2 col-xs-2">
<form action="/t3pkonfigurator" method="post" name="remove_probe" id="remove_probe">
  <input type="hidden" value="{{ data.depths }}" name="depths" id="rm-depths">
  <input type="hidden" value="1" name="rm_probe" id="rm_probe">
  <div class="form-group">
    <div class="col-md-12 col-xs-12">
      <input type="submit" class="btn btn-danger" id="rm-btn" value="Zurück">
    </div>
  </div>
</form>
</div>
{% end %}

<div class="col-md-2 col-xs-2">
<form method="post" action="/t3pkonfigurator">
  <input type="hidden" value="{{ data.depths }}" name="probes_done" id="probes_done">
  <div class="form-group">
    <div class="col-md-12 col-xs-12">
      <input type="submit" class="btn btn-success" id="finish-btn" value="Finish">
    </div>
  </div>
</form>
</div>

</div>
