


<div class="row" id="control-btns">

{% if data.possible_depths %}

<form action="/t3pkonfigurator/de" method="post" name="additional_probe" id="additional_probe">
  <div class="form-group">
    <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label" for="add_probe">Weiterer Messpunkt:</label>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
    <select name="add_probe" id="add_probe" class="form-control" required>
        <option value="">Bitte auswählen</option>
      {% for x in data.possible_depths %}
        <option value="{{ x }}">{{ x }}cm</option>
      {% end %}
    </select>
    </div>
  </div>
  <input type="hidden" value="{{ data.depths }}" name="depths" id="depths">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <button class="btn btn-primary" id="add-btn" onclick="submit_form('#additional_probe')">OK</button>
  </div>
</form>

{% end %}

<div id="summary-div" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          {% if data.depths and not data.finished %}
          Ihre Messpunkte mit dem Tiefsten beginnend:<br>
            <ol>
            {% for depth in data.depths %}
                <li>{{ depth }}cm</li>
            {% end %}
            </ol>
          {% end %}
</div>
<div id="additional-data-div">
          {% if data.finished %}
            {% include "probes_done_de.html" %}
          {% end %}
</div>

{% if data.depths %}
<div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 col-xl-4 col-xl-offset-2">
<form action="/t3pkonfigurator/de" method="post" name="remove_probe" id="remove_probe">
  <input type="hidden" value="{{ data.depths }}" name="depths" id="rm-depths">
  <input type="hidden" value="1" name="rm_probe" id="rm_probe">
  <input type="submit" class="btn btn-danger" id="rm-btn" value="Zurück">
</form>
</div>
{% end %}

{% if not data.probes_done %}
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
<form method="post" action="/t3pkonfigurator/de">
  <input type="hidden" value="{{ data.depths }}" name="probes_done" id="probes_done">
  <input type="submit" class="btn btn-success" id="finish-btn" value="Fertig">
</form>
</div>
{% else %}
<div class="col-xs-offset-1 col-xs-2 col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 col-xl-offset-1 col-xl-2">
<input type="submit" class="btn btn-success" value="OK" onclick="submit_form('#final_form')">
</div>
{% end %}

</div>
