<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="{{ static_url("js/jquery-2.1.3.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/bootstrap.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/konfigurator.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/t3p.css") }}" type="text/css" />
  </head>
  <body>
    <div class="container-fluid" id="container">
      <div class="row">
      <div class="col-md-3" id="image-div">
      </div>
      <div class="col-md-4" id="data-div">
      {% try %}
      {% if not depths %}

      <form class="form-horizontal" action="/t3pkonfigurator" method="post" name="maxdepth">
        <div class="form-group">
          <label class="col-md-3" for="deepest">Tiefster Messpunkt in cm</label>
          <input class="col-md-3" type="number" id="deepest" name="deepest">
          <div class="col-md-2">
          <button id="deepest-btn" class="btn btn-primary">OK</button>
          </div>
        </div>
      </form>

      {% end %}
      {% except %}
      {% end %}


      {% try %}
      <div>
        <ol> 
        {% for depth in depths %}
          <b><li>Messpunkt: {{ depth }}cm</li></b>
        {% end %}
        </ol>
      </div>
      {% except %}
      {% end %}


      {% try %}
        {% if possible_depths %}
        <form action="/t3pkonfigurator" method="post" name="additional_probe" id="additional_probe">
        <div class="form-group">
        <label class="col-md-3" for="add_probe">Weiterer Messpunkt:</label>
        <select class="col-md-3" name="add_probe" id="add_probe">
        {% for depth in possible_depths %}
          <option value="{{ depth }}">{{ depth }}cm</option>
        {% end %}
        </select>
        </div>
        <input type="hidden" value="{{ depths }}" name="depths" id="depths">
        <button class="btn btn-primary" id="add-btn">Add</button>
        </form>
        {% end %}
      {% except %}
        {% try %}
        <form action="/t3pkonfigurator" method="post" name="additional_probe" id="additional_probe">
        <input type="hidden" value="{{ depths }}" name="depths" id="depths">
        </form>
        {% except %}
        {% end %}
      {% end %}


      {% try %}
      {% if depths %}
        <button class="btn btn-success" id="finish">Finish</button>
      {% end %}
      {% except %}
      {% end %}

      {% try %}
        {% if msg %}
          <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% end %}
      {% except %}
      {% end %}        
      
    </div>
    </div>
    </div>
  </body>
</html>
