<!doctype html>
<html>
<head>
<script type="text/javascript" src="{{ static_url("js/jquery-2.1.3.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/bootstrap.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/konfigurator.js") }}"></script>
<link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css" />
<link rel="stylesheet" href="{{ static_url("css/t3p.css") }}" type="text/css" />
</head>
<body>
  <div class="container-fluid" id="container">
    <div class="row">
      <div class="col-md-3" id="image-div">
        {% try %}
          {% raw img %}
        {% except %}
        {% end %}
      </div>
      <div class="col-md-4" id="data-div">
        {% raw html %}
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success">{{ msg }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
