<!doctype html>
<html>
<head>
<script type="text/javascript" src="{{ static_url("js/jquery-2.1.3.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/bootstrap.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/konfigurator.js") }}"></script>
<link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css" />
<link rel="stylesheet" href="{{ static_url("css/t3p.css") }}" type="text/css" />
</head>
<body onload="set_body_size()">
  <div class="container" id="container">
    <div class="row">
      <div class="col-md-4 col-xs-4" id="canvas-div">
          <canvas id="myCanvas">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
          {% raw img %}
      </div>
      <div class="col-md-8 col-xs-8" id="data-div">
        <div id="control-div">
          {% if data.depths %}
            {% include "adddepth.html" %}
          {% else %}
            {% include "maxdepth.html" %}
          {% end %}
        </div>
        <div id="summary-div">
          {% if data.depths and not data.finished %}
          Ihre Messpunkte mit dem Tiefsten beginnend:<br>
            <ol>
            {% for depth in data.depths %}
                <li>{{ depth }}cm</li>
            {% end %}
            </ol>
          {% end %}
        </div>
        <div id="additional-data-div">
          {% if data.finished %}
            {% include "probes_done.html" %}
          {% end %}
        </div>
        <div id="msg-div" class="alert alert-success">{{ msg }}</div>
      </div>
    </div>
  </div>
  <div id="cheating" style="display:none;">
    <img height="20" id="img-probe" src="/t3pkonfigurator/static/probe.png">
    <img height="10" id="img-spacer10" src="/t3pkonfigurator/static/spacer10.png">
    <img height="30" id="img-spacer30" src="/t3pkonfigurator/static/spacer30.png">
    <img height="80" id="img-spacer80" src="/t3pkonfigurator/static/spacer80.png">
    <img id="tubeimg-bottom" src="/t3pkonfigurator/static/PROFILE_bottom.png">
    <img id="tubeimg-top" src="/t3pkonfigurator/static/PROFILE_top.png">
    <img id="tubeimg-100" src="/t3pkonfigurator/static/PROFILE_leer_100.png">
    <img id="background" src="/t3pkonfigurator/static/background.png">
  </div>
</body>
</html>
