<form method="post" action="/t3pkonfigurator/en" class="form-horizontal" id="final_form">
<div class="row">
<div class="big col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Your measuring points:</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    {% for n, x in enumerate(data.depths) %}
      {{n+1}}. {{ x }}cm<br>
    {% end %}
</div>
</div>
<div class="row">
<div class="big col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Tubelength:</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">{{ data.configuration.tube }}cm</div>
</div>
<div class="row">
<div class="big col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Clearance:</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">{{ data.configuration.offset }}cm</div>
</div>
<div class="row">
<div class="big col-xs-6 col-sm-6 co-md-6 col-lg-6 col-xl-6">Installed parts:</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
{% for part in data.configuration.parts %}
   {{ data.configuration.parts[part] }}x {{ part }}<br>
{% end %}
</div>
</div>
<div class="form-group">
<label for="connector" class="control-label col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Connector: </label>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
<select id="connector" name="connector" required class="form-control">
<option value="">Please select</option>
<option value="IMP-BUS">IMP-BUS</option>
<option value="SDI-12">SDI-12</option>
<option value="RS-485">RS-485</option>
</select>
</div>
</div>
<div class="form-group">
<label for="cable" class="control-label col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Cablelength: </label>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
<select id="cable" name="cable" required class="form-control">
<option value="">Please select</option>
<!-- dont offer 2m cable is empty space is bigger than 100cm -->
{% if not data.configuration.depths[-1] > 100 %}
<option value="2m">2m</option>
{% end %}
<option value="5m">5m</option>
<option value="10m">10m</option>
<option value="Spezial">Other (on request)</option>
</select>
</div>
</div>
<div class="form-group">
<label for="amount" class="control-label col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Ammount: </label>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
<input id="amount" name="amount" type="text" required pattern="/[0-9]+/" class="form-control">
</div>
</div>
</div>
<div style="visibility:hidden;height:0;"id="config">{config}</div>
<div id="control-btns">
<input type="hidden" name="create_pdf" value="1">
<input type="hidden" name="depths" value="{{ data.depths }}">
<input type="hidden" name="tube" value="{{ data.configuration.tube }}">
<input type="hidden" name="offset" value="{{ data.configuration.offset }}">
<input type="hidden" name="summary" value="{{ data.configuration.depths }}">
<input type="hidden" name="configuration" value="{{ data.configuration.order }}">
</form>
