<form method="post" action="/t3pkonfigurator/en" class="form-horizontal" id="final_form">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  Your measuring points:<br>
  <ol>
    {% for x in data.depths %}
      <li>{{ x }}cm</li>
    {% end %}
  </ol>
</div>

<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">Tubelength:</div>
<div class="col-xs-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">{{ data.configuration.tube }}cm</div>
<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">Clearance:</div>
<div class="col-xs-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">{{ data.configuration.offset }}cm</div><br>

<div class="col-xs-12 col-sm-12 co-md-12 col-lg-12 col-xl-12">Installed parts:</div>
<ul>
{% for part in data.configuration.parts %}
   </li>{{ data.configuration.parts[part] }}x {{ part }}</li><br>
{% end %}
</ul>
<div class="form-group">
<label for="connector" class="control-label col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">Connector: </label>
<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 col-xl-4">
<select id="connector" name="connector" required class="form-control">
<option value="">Please select</option>
<option value="IMP-BUS">IMP-BUS</option>
<option value="SDI-12">SDI-12</option>
<option value="RS-485">RS-485</option>
</select>
</div>
</div>
<div class="form-group">
<label for="cable" class="control-label col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">Cablelength: </label>
<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 col-xl-4">
<select id="cable" name="cable" required class="form-control">
<option value="">Please select</option>
<!-- dont offer 2m cable is empty space is bigger than 100cm -->
{% if not data.configuration.depths[-1] > 100 %}
<option value="2m">2m</option>
{% end %}
<option value="5m">5m</option>
<option value="10m">10m</option>
<option value="Spezial">Other (on request)</option>
</select>
</div>
</div>
<div class="form-group">
<label for="amount" class="control-label col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">Ammount: </label>
<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 col-xl-4">
<input id="amount" name="amount" type="text" required pattern="/[0-9]+/" class="form-control">
</div>
</div>
</div>
<div style="visibility:hidden;height:0;"id="config">{config}</div>
<div id="control-btns">
<input type="hidden" name="create_pdf" value="1">
<input type="hidden" name="depths" value="{{ data.depths }}">
<input type="hidden" name="tube" value="{{ data.configuration.tube }}">
<input type="hidden" name="offset" value="{{ data.configuration.offset }}">
<input type="hidden" name="summary" value="{{ data.configuration.depths }}">
<input type="hidden" name="configuration" value="{{ data.configuration.order }}">
</form>
