<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="{{ static_url("js/jquery-2.1.3.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/bootstrap.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/konfigurator.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/t3p.css") }}" type="text/css" />
  </head>
<body>
  <div class="container" id="container">
    <div class="row">
      <div class="col-md-4 col-xs-4" id="canvas-div">
          <canvas id="myCanvas">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
<script>
set_background();set_tubehead();set_tube(300);set_elements(['probe', 'probe', 'probe', 'probe', 'probe', 'probe', 'probe', 'probe', 'probe', 'probe', 'probe', 'probe', 'probe'], 300);
</script>

      </div>


    </div>
    <div id="cheating" >
    <img height="20" id="img-probe" src="/t3pkonfigurator/static/probe.png">
    <img height="10" id="img-spacer10" src="/t3pkonfigurator/static/spacer10.png">
    <img height="30" id="img-spacer30" src="/t3pkonfigurator/static/spacer30.png">
    <img height="80" id="img-spacer80" src="/t3pkonfigurator/static/spacer80.png">
    <img id="tubeimg-bottom" src="/t3pkonfigurator/static/PROFILE_bottom.png">
    <img id="tubeimg-top" src="/t3pkonfigurator/static/PROFILE_top.png">
    <img id="tubeimg-100" src="/t3pkonfigurator/static/PROFILE_leer_100.png">
    <img id="tubeimg-200" src="/t3pkonfigurator/static/PROFILE_leer_200.png">
    <img id="tubeimg-300" src="/t3pkonfigurator/static/PROFILE_leer_300.png">
    <img id="background" src="/t3pkonfigurator/static/background.png">
    </div>
  </div>
</body>
</html>

